  .flex-container {
     display: flex; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
     flex: 1; 
  }
  .container{
    background: lightblue;
    padding: 16px;
    border: 4px solid blue;
    gap: 8px;
    display: flex;
  }
  .item {
    background: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    
    padding: 4px;
  }

  .flex-container-one {
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container-one div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 0%;
  }
  
  /* only div.two is selected here */
  .flex-container-one .two {
    flex: 2 1 0%;
  }

  .flex-container-two {
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container-two div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
  }
  
  .flex-container-two .two {
    flex-shrink: 0;
  }

  .flex-container-three {
    display: flex;
     flex-direction: column; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container-three div {
    background: peachpuff;
    border: 4px solid brown;
    height: 80px;
    flex: 1 1 auto;
  }

  .container {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
  }
  
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
  }

  .container-one {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
  }

  .container-two {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    justify-content: center;
  }
  
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
  }

  .container-three {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
  }